<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GesturePassword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50A6AD631D8691B400594B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A6AD7C1D8691B500594B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A6AD871D8691B500594B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
